@font-face {
  font-family: 'IvyEpic Variable';
  src: url('/fonts/fonnts.com-IvyEpic_Variable_Thin.otf') format('opentype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IvyEpic';
  src: url('/fonts/fonnts.com-IvyEpic_Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-cream-50 text-stone-800 antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
